Source: python-fpys2
Section: python
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Ian Eure <ian@simplegeo.com>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.59), python (>= 2.6), python-support (>= 1.0.4), python-setuptools (>= 0.6.10)
Standards-Version: 3.8.4
Homepage: http://github.com/simplegeo/python-fpys2

Package: python-fpys2
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: An Amazon FPS Client for Python
 FPyS utilizes the REST interface to the Amazon Flexible Payment system
 to allow Python developers easy access to the Flexible Payment System.
 The library works out of the box with Python 2.5.  ElementTree is a
 required install in environments not yet running 2.5.  FPyS is released
 under the MIT license.